/*MAIN>HTML*/
			.background {
				background-color: pink;
			}
			.banner {
				height: 15%;
				background-color: pink;
				color: white;
				text-align: center;
			}
			.bannerImg {
				height: 300px;
				position: relative;
			}
			.brand {
				height: 100%;
				width: 100%;
				max-width: 25px;
			}

/*LANDING.HTML*/
				.back {
					font-weight: bolder;
					font-size: 110%;
					color: red;
					padding: 20px;
					width: 160px;
					height: 160px;
					visibility: hidden;
				}
				.flipperboard {
					background-color: white;
    				display: inline-block;
    				margin-bottom: -10px;
				}
				.flipperImg {
					height: 100%;
					width: 100%;
				}
				.flipRow {
					/*height: 190px;*/
					text-align: center;
				}
				.front {
					overflow: hidden;
					width: 160px;
					height: 160px;
					position: absolute;
					transition-duration: 1s;
				}
				.portfolio-item {
					float: left;
					margin: 15px;
				}
				.portfolio-item:hover .back {
					visibility: visible;
				}
				.portfolio-item:hover .front{
					transform: scale(1.2, 1.2);
					-webkit-filter: blur(7px);
				}
				.textShade {
					text-shadow: 2px 2px 2px black;
				}
				.topseller {
					position: absolute;
					height: 400px;
					width: 400px;
				}
				