.banner {
	height: 15%;
	/*top: 2%;*/
	background-color: pink;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
.brand {
	height: 100%;
	width: 100%;
	max-width: 25px;
}
.bannerImg {
	height: 300px;
	position: relative;
}
.flipper {
	position: absolute;
	height: 50px;
	width: 50px;
}
.portfolio-item, .back, .front {
	backface-visibility: hidden;
}
.portfolio-item:hover {
	transform: scale(1.2,1.2);
	transition-duration: .5s;
}